extends layout

block content
    script(src='/javascripts/edit.js')
    #container1(style="background-color:#fff")
    nav.navbar.navbar-inverse(style="border-color: #b0bcd5;margin-bottom: 2px;")
        .container-fluid(style="background-color:#b0bcd5")
            div
                ul.nav.navbar-nav
                    li
                        a(href='/home') Home
                    li
                        a(href='/search') Search
                    li
                        a(href='/signout') Sign Out

    div.well(style="background-color:#b0bcd5")
        #container